p {
    color: green;

}

.peido {
    color: green;
}

.geral {
    width: 990px;
    margin: 10px;
    font: 20px Verdana, Arial, sans-serif;
}

.cor {
    background-color: red;
}

.cor2 {
    background-color: rgb(47, 0, 255);
}

.footer {
    clear: both;
    background-color: rgb(255, 0, 0);
    height: 1000px;
}

.principalFooter {
    font: 30px Verdana, Arial, sans-serif;
}

.peixe {
    width: 990px;
    margin: 20px;
    font: 50px Verdana, Arial, sans-serif;
}

.divSeparacao {
    width: 990px;
    margin: 45px;
}

teste {
    width: 400px;
    height: 300px;
    background-image: url("../banana/img/bananafish.png");
}